body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
}
/* Navigation */
.top-navigation {
	background-color: #fff;
}

.top-navigation > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
}

.logo {
	height: 70px;
}

.content {
	padding: 0px 15px;
}

.links {
	margin-top: -3em;
}
.links li{
	float: right;
	display: inline-block;
	padding: 1em;
}



